services:
  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6380:6379"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app_net

  minio:
    image: minio/minio:latest
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app_net

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - text_service
      - ai_service
      - session_service
    restart: unless-stopped
    networks:
      - app_net

  text_service:
    build: ./backend/text_service
    image: text_service
    container_name: text
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
      - minio
    ports:
      - "8005:8000"
    restart: unless-stopped
    volumes:
      - ./backend/text_service:/app
    environment:
      - "REDIS_PREFIX=session:"
      - "SESSION_PREFIX=session:"
      - "SESSION_KEY_PREFIX=session:"
    env_file:
      - .env
    networks:
      - app_net

  session_service:
    build: ./backend/session_service
    image: session_service
    container_name: session
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
    ports:
      - "8003:8000"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app_net

  ai_service:
    build: ./backend/ai_service
    image: ai_service
    container_name: ai
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    depends_on:
      - redis
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - "8006:8000"
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app_net

  cleanup_service:
    build: ./backend/cleanup_service/textshare-cleanup-service
    image: cleanup_service
    container_name: cleanup
    depends_on:
      - redis
      - minio
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend
    container_name: frontend
    ports:
      - "3000:3000"
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - text_service
      - session_service
    networks:
      - app_net

volumes:
  redis_data:
  minio_data:

networks:
  app_net:
    driver: bridge